*{
    font-family: poppins;
}

form input[name="diskcount"]{
    width: 250px;
    padding: 8px 10px;
    margin-right: 10px;
}

form input:not([type]), input[type="submit"]{
    padding: 10px 30px;
    background: #000;
    border-radius: 3px;
    border: none;
    color: #fff;
}

form input:not([type]), input[type="submit"]:hover{
    background: #fff;
    color: #000;
    transition: all 0.2s ;
    border: 1px solid #000;
    cursor: pointer;
}

.container{
    max-width: 100%;
    width:800px;
    margin: 0 auto;
}

/*Tower*/

.tower{
    width: 10px;
    min-height: 100px;
    background-color: #000;
    display: inline-block;
    margin: 50px;
    min-width: 10px;
    position: relative;
    z-index: 0;
}

.tower p{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    bottom: calc(attr(data-value) * 20px);
}
.tower p[data-state="clicked"]{
    border: 1px solid #000;
}